*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-image: url(../images/bg.jpg);
}

main {
  min-height: 100vh;
  background-image: url(../images/bg.jpg);
  display: flex;
  align-items: center;;
  justify-content: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color:#729CC6;
  font-size: 96px;
  padding-bottom: 50px;
}

h2{
  color:#729CC6;
}

p{
  font-family: 'Lora', serif;
  color:#729CC6;
  font-size: 3.72vh;
  padding-bottom: 30px;
}

textarea {
  height: 200px;
  width: 600px;
  margin: 5px 5px;
}

textarea, label, input{
  resize: none;
  border-radius: 5px;
}

.glass{
  position: relative;
  overflow: hidden;
  min-height: 775px;
  width: 1550px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  -moz-backdrop-filter: blur;
  backdrop-filter: blur(2rem);
}

/* SIDE-NAV */

.side-nav{
  position: absolute;
  left: 0;
  height: 100%;
  min-height: 80vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid white;
  z-index: 94;
}

.side-nav-icon{
  width: 5.5rem;
  z-index: 95;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.btn:hover{
  background: white;
}

.home{
  border-top-left-radius: 50px;
  border-top: 1px solid white;
}

.edu{
  border-bottom-left-radius: 50px;
}

.active {
  background-color: white;
}

/* SOCIAL NETWORKS */

.social-networks, .mail-icon{
  color:#729CC6;
  margin-right: 90px;
}

.mail-icon{
  cursor: pointer;
}

.social-networks:hover, .mail-icon:hover{
  color:white;
}

/* MODAL */

.modal-overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 98;

}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(10px);
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 99;
}

.modal h1, input, label, textarea, button{
  margin-left: 25px;
}

.modal label, textarea{
  font-family: 'Lora', serif;
  font-weight: bold;
  color:#729CC6;
  border: none;
}

.modal input, textarea{
  font-family: 'Lora', serif;
  color:#729CC6;
  background: rgba(255, 255, 255, 0.8);
  border: none;
}

.send-btn {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  background: #729CC6;
  text-decoration: none;
  margin-bottom: 25px;
  margin-left: 25px;
  cursor: pointer;
}

}

.modal button{
margin-bottom: 25px;
}

.modal-active{
  visibility: visible;
  opacity: 1;
}

.x-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  color: #729CC6;
  font-size: 28px;
}

/* SCREEN */

.screen-home {
  position: absolute;
  top: 170px;
  left: 300px;
}

.screen{
  position: absolute;
  top: 20px;
  left: 300px;
}

.icon-white{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 10%;
}




/* EXPERIENCE */

.left-arrow {
  position: absolute;
  top: 2.5rem;
  right: 12.5rem;
  height: 80px;
  z-index: 97;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 2.5rem;
  right: 6.5rem;
  height: 80px;
  z-index: 96;
  cursor: pointer;
}

/* EXPERIENCE */

.wrapper{
  position: absolute;
  width: 10000px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-xp{
  width: 1000px;
  transition: all 0.5s;
}

.job-title{

  font-family: 'Lora', serif;
  font-size: 44px;
  font-weight: bold;
}
.job-resp{

  font-family: 'Lora', serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 4rem;
}

/* EDU */

.edu-logo{
  float: left;
  width: 150px;
  margin-right: 50px;
}

.edu-wrap-1{
  margin-bottom: 100px;
}


/* COPYRIGHT */

.copyright{
  font-family: 'Lora', serif;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}
